<nav class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5">

        <!-- Navbar brand -->
        {% if request.user.is_authenticated %}
            <span class="navbar-brand" style="float:left;">Signed in as : {{user}}</span>

            <!-- Collapse button -->
            <a class="btn btn-success" style="float:right;" href="{% url 'core:profile' %}"> View Profile</a>
        {% else %}
            <span class="navbar-brand">You are not login</span>

            <!-- Collapse button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
              aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% endif %}

</nav>
